{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "valeera",
        "valeera/typescript"
    ],
    "plugins": [
        "html",
        "@typescript-eslint/eslint-plugin",
        "eslint-plugin-tsdoc",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": 1,
        "@typescript-eslint/indent": [
            "error",
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "prettier/prettier": "error"
    }
}